registry=https://registry.npmjs.org
@k-lab:registry=https://pkgs.dev.azure.com/klab-inc/_packaging/keo-gbl-utilities-tools/npm/registry/

//pkgs.dev.azure.com/klab-inc/_packaging/keo-gbl-utilities-tools/npm/registry/:_authToken=${AZURE_NPM_TOKEN}
//pkgs.dev.azure.com/klab-inc/_packaging/keo-gbl-utilities-tools/npm/:_authToken=${AZURE_NPM_TOKEN}
